name: CI
on:
  push:
    branches:
      - main
    tags: ["*"]
  pull_request:
    branches:
      - main
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.9"
          - "nightly"
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: webfactory/ssh-agent@v0.5.4
        with:
            ssh-private-key: ${{ secrets.COOLWALKSREGISTRY_PRIVATE_KEY }}
      - uses: julia-actions/cache@v1
      - uses: julia-actions/julia-buildpkg@v1
        env:
          PYTHON: ""
        with:
          git_cli: true
          localregistry: https://github.com/SuperGrobi/CoolWalksRegistry
      - uses: julia-actions/julia-runtest@v1
        env:
          PYTHON: ""
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: "1"
      - uses: webfactory/ssh-agent@v0.5.4
        with:
            ssh-private-key: ${{ secrets.COOLWALKSREGISTRY_PRIVATE_KEY }}
      - uses: julia-actions/julia-buildpkg@v1
        env:
          PYTHON: ""
        with:
          project: "docs"
          git_cli: true
          localregistry: https://github.com/SuperGrobi/CoolWalksRegistry
      - uses: julia-actions/julia-docdeploy@v1
        env:
          PYTHON: ""
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          julia --project=docs -e '
            using Documenter: DocMeta, doctest
            using MinistryOfCoolWalks
            DocMeta.setdocmeta!(MinistryOfCoolWalks, :DocTestSetup, :(using MinistryOfCoolWalks); recursive=true)
            doctest(MinistryOfCoolWalks)'
